*.gz
/$tf
/ipch
/.hg
/.hgcheck
/Debug

/Cocos2dx/cocos2dx/proj.win32/Debug.win32
/Debug.win32
/Projects/TileGameDemo/proj.win32/Debug.win32
/Projects/MyMoonWarriors/Debug.win32
/Cocos2dx/scripting/lua/proj.win32/Debug.win32
/Cocos2dx/external/chipmunk/proj.win32/Debug.win32
/Cocos2dx/external/Box2D/proj.win32/Debug.win32
/Cocos2dx/extensions/proj.win32/Debug.win32
/Cocos2dx/CocosDenshion/proj.win32/Debug.win32

/Tools/ResouceTool/ImageClip/obj
/Tools/ResouceTool/ImageClip/bin
/Tools/ResouceTool/ImageClipConsole/obj
/Tools/ResouceTool/ImageClipConsole/bin

/Tools/ResouceTool/ResouceTool/obj
/Tools/ResouceTool/ResouceTool/bin

/.hgignore
/.tfignore
/SomeTD.sdf

/Projects/A_Start/Debug
/Projects/A_Start/Debug
/SomeTD.opensdf
/Projects/TileGameDemo/Resources/Thumbs.db
/Projects/JustForTest/Debug
/*.sdf

/*.db
/Projects/SomeTD/proj.win32/Debug.win32

/libs/cocos2dx/proj.win32/Debug.win32

/libs/CocosDenshion/proj.win32/Debug.win32
/libs/extensions/proj.win32/Debug.win32

/libs/external/Box2D/proj.win32/Debug.win32
/libs/external/chipmunk/proj.win32/Debug.win32

/libs/scripting/lua/proj.win32/Debug.win32

/SomeTD.v11.suo

/*.opensdf

/Projects/KGUI/proj.win32/Debug.win32/*.tlog

/Projects/KGUI/proj.win32/Debug.win32
/Projects/KGUI/proj.win32/*.user

/cocos2d-x_SomeTD.xcworkspace/xcuserdata/kelyad.xcuserdatad/*.xcuserstate
/Projects/JustForTest/JustForTest.opensdf
/Projects/JustForTest/JustForTest.sdf
/Projects/JustForTest/ipch/justfortest-2622f318/justfortest-faf630d9.ipch
cocos2d-x_SomeTD.xcworkspace/xcuserdata/kelyad.xcuserdatad/WorkspaceSettings.xcsettings
cocos2d-x_SomeTD.xcworkspace/xcuserdata/kelyad.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
/TempFiles
/Tools/KKGUI/x64/Debug
/Tools/build-KKGUI-Desktop_Qt_5_0_2_MSVC2012_64bit-Debug/debug
/Tools/KKGUI/KKGUI.pro.user
/Tools/KKGUI/KKGUI.v11.suo
/Tools/KKGUI/KKGUI.vcxproj.user
/Tools/build-KKGUI-Desktop_Qt_5_0_2_MSVC2012_64bit-Debug/vc110.pdb

/Tools/MapDesigner/*.sdf

*.sdf
*.opensdf
