*.gz
/$tf
/ipch
/.hg
/.hgcheck
/Debug

/Cocos2dx/cocos2dx/proj.win32/Debug.win32
/Debug.win32
/Projects/TileGameDemo/proj.win32/Debug.win32
/Projects/MyMoonWarriors/Debug.win32
/Cocos2dx/scripting/lua/proj.win32/Debug.win32
/Cocos2dx/external/chipmunk/proj.win32/Debug.win32
/Cocos2dx/external/Box2D/proj.win32/Debug.win32
/Cocos2dx/extensions/proj.win32/Debug.win32
/Cocos2dx/CocosDenshion/proj.win32/Debug.win32

/Tools/ResouceTool/ImageClip/obj
/Tools/ResouceTool/ImageClip/bin
/Tools/ResouceTool/ImageClipConsole/obj
/Tools/ResouceTool/ImageClipConsole/bin

/Tools/ResouceTool/ResouceTool/obj
/Tools/ResouceTool/ResouceTool/bin

/.hgignore
/.tfignore
/SomeTD.sdf

/Projects/A_Start/Debug
/Projects/A_Start/Debug
