<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>artillery_lvl4_bfg_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 38}, {112, 82}}</string>
			<key>spriteOffset</key>
			<string>{1, -19}</string>
			<key>spriteSize</key>
			<string>{112, 82}</string>
			<key>spriteSourceSize</key>
			<string>{116, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{572, 230}, {112, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>artillery_lvl4_bfg_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 38}, {110, 82}}</string>
			<key>spriteOffset</key>
			<string>{1, -19}</string>
			<key>spriteSize</key>
			<string>{110, 82}</string>
			<key>spriteSourceSize</key>
			<string>{116, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{572, 314}, {110, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>artillery_lvl4_bfg_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 38}, {110, 82}}</string>
			<key>spriteOffset</key>
			<string>{1, -19}</string>
			<key>spriteSize</key>
			<string>{110, 82}</string>
			<key>spriteSourceSize</key>
			<string>{116, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{912, 346}, {110, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>artillery_lvl4_bfg_0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 38}, {110, 82}}</string>
			<key>spriteOffset</key>
			<string>{1, -19}</string>
			<key>spriteSize</key>
			<string>{110, 82}</string>
			<key>spriteSourceSize</key>
			<string>{116, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{572, 398}, {110, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>artillery_lvl4_bfg_0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 38}, {112, 82}}</string>
			<key>spriteOffset</key>
			<string>{1, -19}</string>
			<key>spriteSize</key>
			<string>{112, 82}</string>
			<key>spriteSourceSize</key>
			<string>{116, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{344, 232}, {112, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>artillery_lvl4_bfg_0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 38}, {112, 82}}</string>
			<key>spriteOffset</key>
			<string>{1, -19}</string>
			<key>spriteSize</key>
			<string>{112, 82}</string>
			<key>spriteSourceSize</key>
			<string>{116, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{458, 314}, {112, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>artillery_lvl4_bfg_0023.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 7}, {112, 112}}</string>
			<key>spriteOffset</key>
			<string>{1, -3}</string>
			<key>spriteSize</key>
			<string>{112, 112}</string>
			<key>spriteSourceSize</key>
			<string>{116, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{800, 2}, {112, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>artillery_lvl4_bfg_0024.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 7}, {112, 112}}</string>
			<key>spriteOffset</key>
			<string>{1, -3}</string>
			<key>spriteSize</key>
			<string>{112, 112}</string>
			<key>spriteSourceSize</key>
			<string>{116, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{800, 116}, {112, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>artillery_lvl4_bfg_0025.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 5}, {112, 114}}</string>
			<key>spriteOffset</key>
			<string>{1, -2}</string>
			<key>spriteSize</key>
			<string>{112, 114}</string>
			<key>spriteSourceSize</key>
			<string>{116, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{458, 2}, {112, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>artillery_lvl4_bfg_0026.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 5}, {112, 114}}</string>
			<key>spriteOffset</key>
			<string>{1, -2}</string>
			<key>spriteSize</key>
			<string>{112, 114}</string>
			<key>spriteSourceSize</key>
			<string>{116, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{572, 2}, {112, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>artillery_lvl4_bfg_0027.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {112, 116}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{112, 116}</string>
			<key>spriteSourceSize</key>
			<string>{116, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{344, 2}, {112, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>artillery_lvl4_bfg_0029.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 1}, {112, 118}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{112, 118}</string>
			<key>spriteSourceSize</key>
			<string>{116, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{116, 2}, {112, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>artillery_lvl4_bfg_0031.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 1}, {112, 118}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{112, 118}</string>
			<key>spriteSourceSize</key>
			<string>{116, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{230, 2}, {112, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>artillery_lvl4_bfg_0033.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {112, 120}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{112, 120}</string>
			<key>spriteSourceSize</key>
			<string>{116, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {112, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>artillery_lvl4_bfg_0035.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 10}, {112, 110}}</string>
			<key>spriteOffset</key>
			<string>{1, -5}</string>
			<key>spriteSize</key>
			<string>{112, 110}</string>
			<key>spriteSourceSize</key>
			<string>{116, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{230, 122}, {112, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>artillery_lvl4_bfg_0037.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 38}, {112, 82}}</string>
			<key>spriteOffset</key>
			<string>{1, -19}</string>
			<key>spriteSize</key>
			<string>{112, 82}</string>
			<key>spriteSourceSize</key>
			<string>{116, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{684, 338}, {112, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>artillery_lvl4_bfg_0039.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 38}, {112, 82}}</string>
			<key>spriteOffset</key>
			<string>{1, -19}</string>
			<key>spriteSize</key>
			<string>{112, 82}</string>
			<key>spriteSourceSize</key>
			<string>{116, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{798, 346}, {112, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>artillery_lvl4_bfg_0041.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 38}, {112, 82}}</string>
			<key>spriteOffset</key>
			<string>{1, -19}</string>
			<key>spriteSize</key>
			<string>{112, 82}</string>
			<key>spriteSourceSize</key>
			<string>{116, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{116, 236}, {112, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>artillery_lvl4_bfg_0043.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 38}, {112, 82}}</string>
			<key>spriteOffset</key>
			<string>{1, -19}</string>
			<key>spriteSize</key>
			<string>{112, 82}</string>
			<key>spriteSourceSize</key>
			<string>{116, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{230, 316}, {112, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>artillery_lvl4_bfg_0045.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 38}, {112, 82}}</string>
			<key>spriteOffset</key>
			<string>{1, -19}</string>
			<key>spriteSize</key>
			<string>{112, 82}</string>
			<key>spriteSourceSize</key>
			<string>{116, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{344, 316}, {112, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>artillery_lvl4_bfg_0047.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 38}, {112, 82}}</string>
			<key>spriteOffset</key>
			<string>{1, -19}</string>
			<key>spriteSize</key>
			<string>{112, 82}</string>
			<key>spriteSourceSize</key>
			<string>{116, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{458, 398}, {112, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>artillery_lvl4_bfg_0049.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 38}, {112, 82}}</string>
			<key>spriteOffset</key>
			<string>{1, -19}</string>
			<key>spriteSize</key>
			<string>{112, 82}</string>
			<key>spriteSourceSize</key>
			<string>{116, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{684, 422}, {112, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>artillery_lvl4_bfg_0050.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 38}, {112, 82}}</string>
			<key>spriteOffset</key>
			<string>{1, -19}</string>
			<key>spriteSize</key>
			<string>{112, 82}</string>
			<key>spriteSourceSize</key>
			<string>{116, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 320}, {112, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>artillery_lvl4_bfg_0052.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 38}, {112, 82}}</string>
			<key>spriteOffset</key>
			<string>{1, -19}</string>
			<key>spriteSize</key>
			<string>{112, 82}</string>
			<key>spriteSourceSize</key>
			<string>{116, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{116, 320}, {112, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>artillery_lvl4_bfg_0056.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 38}, {112, 82}}</string>
			<key>spriteOffset</key>
			<string>{1, -19}</string>
			<key>spriteSize</key>
			<string>{112, 82}</string>
			<key>spriteSourceSize</key>
			<string>{116, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{230, 400}, {112, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>artillery_lvl4_bfg_0064.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 11}, {112, 108}}</string>
			<key>spriteOffset</key>
			<string>{1, -5}</string>
			<key>spriteSize</key>
			<string>{112, 108}</string>
			<key>spriteSourceSize</key>
			<string>{116, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{686, 118}, {112, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>artillery_lvl4_bfg_0065.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 11}, {112, 108}}</string>
			<key>spriteOffset</key>
			<string>{1, -5}</string>
			<key>spriteSize</key>
			<string>{112, 108}</string>
			<key>spriteSourceSize</key>
			<string>{116, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{686, 228}, {112, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>artillery_lvl4_bfg_0066.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 10}, {112, 110}}</string>
			<key>spriteOffset</key>
			<string>{1, -5}</string>
			<key>spriteSize</key>
			<string>{112, 110}</string>
			<key>spriteSourceSize</key>
			<string>{116, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{344, 120}, {112, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>artillery_lvl4_bfg_0067.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 10}, {112, 110}}</string>
			<key>spriteOffset</key>
			<string>{1, -5}</string>
			<key>spriteSize</key>
			<string>{112, 110}</string>
			<key>spriteSourceSize</key>
			<string>{116, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{572, 118}, {112, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>artillery_lvl4_bfg_0068.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 8}, {112, 112}}</string>
			<key>spriteOffset</key>
			<string>{1, -4}</string>
			<key>spriteSize</key>
			<string>{112, 112}</string>
			<key>spriteSourceSize</key>
			<string>{116, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{458, 118}, {112, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>artillery_lvl4_bfg_0070.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 7}, {112, 112}}</string>
			<key>spriteOffset</key>
			<string>{1, -3}</string>
			<key>spriteSize</key>
			<string>{112, 112}</string>
			<key>spriteSourceSize</key>
			<string>{116, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{116, 122}, {112, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>artillery_lvl4_bfg_0072.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 7}, {112, 112}}</string>
			<key>spriteOffset</key>
			<string>{1, -3}</string>
			<key>spriteSize</key>
			<string>{112, 112}</string>
			<key>spriteSourceSize</key>
			<string>{116, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 124}, {112, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>artillery_lvl4_bfg_0074.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 6}, {112, 114}}</string>
			<key>spriteOffset</key>
			<string>{1, -3}</string>
			<key>spriteSize</key>
			<string>{112, 114}</string>
			<key>spriteSourceSize</key>
			<string>{116, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{686, 2}, {112, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>artillery_lvl4_bfg_0076.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 13}, {112, 106}}</string>
			<key>spriteOffset</key>
			<string>{1, -6}</string>
			<key>spriteSize</key>
			<string>{112, 106}</string>
			<key>spriteSourceSize</key>
			<string>{116, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{800, 238}, {112, 106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>barbarian_axe_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {18, 18}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{18, 18}</string>
			<key>spriteSourceSize</key>
			<string>{20, 18}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{280, 276}, {18, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>barrack_lvl4_barbarians_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 8}, {94, 82}}</string>
			<key>spriteOffset</key>
			<string>{-3, -4}</string>
			<key>spriteSize</key>
			<string>{94, 82}</string>
			<key>spriteSourceSize</key>
			<string>{108, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{344, 400}, {94, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>barrack_lvl4_barbarians_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 8}, {94, 82}}</string>
			<key>spriteOffset</key>
			<string>{-3, -4}</string>
			<key>spriteSize</key>
			<string>{94, 82}</string>
			<key>spriteSourceSize</key>
			<string>{108, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 404}, {94, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>barrack_lvl4_barbarians_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 8}, {94, 82}}</string>
			<key>spriteOffset</key>
			<string>{-3, -4}</string>
			<key>spriteSize</key>
			<string>{94, 82}</string>
			<key>spriteSourceSize</key>
			<string>{108, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{98, 404}, {94, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>barrack_lvl4_barbarians_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 8}, {94, 82}}</string>
			<key>spriteOffset</key>
			<string>{-3, -4}</string>
			<key>spriteSize</key>
			<string>{94, 82}</string>
			<key>spriteSourceSize</key>
			<string>{108, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{914, 2}, {94, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>soldier_lvl4_barbarian_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{28, 18}, {32, 28}}</string>
			<key>spriteOffset</key>
			<string>{-3, -1}</string>
			<key>spriteSize</key>
			<string>{32, 28}</string>
			<key>spriteSourceSize</key>
			<string>{94, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{194, 474}, {32, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>soldier_lvl4_barbarian_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{28, 18}, {40, 28}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{40, 28}</string>
			<key>spriteSourceSize</key>
			<string>{94, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{302, 268}, {40, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>soldier_lvl4_barbarian_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{29, 17}, {30, 30}}</string>
			<key>spriteOffset</key>
			<string>{-3, -1}</string>
			<key>spriteSize</key>
			<string>{30, 30}</string>
			<key>spriteSourceSize</key>
			<string>{94, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{946, 286}, {30, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>soldier_lvl4_barbarian_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{28, 16}, {32, 30}}</string>
			<key>spriteOffset</key>
			<string>{-3, -0}</string>
			<key>spriteSize</key>
			<string>{32, 30}</string>
			<key>spriteSourceSize</key>
			<string>{94, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{194, 442}, {32, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>soldier_lvl4_barbarian_0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{28, 13}, {32, 34}}</string>
			<key>spriteOffset</key>
			<string>{-3, 1}</string>
			<key>spriteSize</key>
			<string>{32, 34}</string>
			<key>spriteSourceSize</key>
			<string>{94, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{458, 278}, {32, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>soldier_lvl4_barbarian_0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{29, 14}, {30, 32}}</string>
			<key>spriteOffset</key>
			<string>{-3, 1}</string>
			<key>spriteSize</key>
			<string>{30, 32}</string>
			<key>spriteSourceSize</key>
			<string>{94, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{914, 286}, {30, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>soldier_lvl4_barbarian_0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{30, 19}, {30, 28}}</string>
			<key>spriteOffset</key>
			<string>{-2, -2}</string>
			<key>spriteSize</key>
			<string>{30, 28}</string>
			<key>spriteSourceSize</key>
			<string>{94, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{984, 248}, {30, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>soldier_lvl4_barbarian_0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{29, 17}, {38, 30}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{38, 30}</string>
			<key>spriteSourceSize</key>
			<string>{94, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{492, 278}, {38, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>soldier_lvl4_barbarian_0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{28, 15}, {40, 32}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{40, 32}</string>
			<key>spriteSourceSize</key>
			<string>{94, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{302, 234}, {40, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>soldier_lvl4_barbarian_0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{28, 13}, {38, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{38, 34}</string>
			<key>spriteSourceSize</key>
			<string>{94, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{532, 232}, {38, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>soldier_lvl4_barbarian_0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{29, 14}, {36, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{36, 32}</string>
			<key>spriteSourceSize</key>
			<string>{94, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{914, 218}, {36, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>soldier_lvl4_barbarian_0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{30, 19}, {36, 28}}</string>
			<key>spriteOffset</key>
			<string>{1, -2}</string>
			<key>spriteSize</key>
			<string>{36, 28}</string>
			<key>spriteSourceSize</key>
			<string>{94, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{568, 482}, {36, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>soldier_lvl4_barbarian_0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{20, 15}, {36, 32}}</string>
			<key>spriteOffset</key>
			<string>{-9, -0}</string>
			<key>spriteSize</key>
			<string>{36, 32}</string>
			<key>spriteSourceSize</key>
			<string>{94, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{914, 252}, {36, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>soldier_lvl4_barbarian_0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{18, 14}, {38, 32}}</string>
			<key>spriteOffset</key>
			<string>{-10, 1}</string>
			<key>spriteSize</key>
			<string>{38, 32}</string>
			<key>spriteSourceSize</key>
			<string>{94, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{532, 268}, {38, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>soldier_lvl4_barbarian_0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{27, 9}, {48, 38}}</string>
			<key>spriteOffset</key>
			<string>{4, 3}</string>
			<key>spriteSize</key>
			<string>{48, 38}</string>
			<key>spriteSourceSize</key>
			<string>{94, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{230, 276}, {48, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>soldier_lvl4_barbarian_0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{27, 9}, {48, 38}}</string>
			<key>spriteOffset</key>
			<string>{4, 3}</string>
			<key>spriteSize</key>
			<string>{48, 38}</string>
			<key>spriteSourceSize</key>
			<string>{94, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{798, 472}, {48, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>soldier_lvl4_barbarian_0020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{39, 20}, {36, 28}}</string>
			<key>spriteOffset</key>
			<string>{10, -3}</string>
			<key>spriteSize</key>
			<string>{36, 28}</string>
			<key>spriteSourceSize</key>
			<string>{94, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{606, 482}, {36, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>soldier_lvl4_barbarian_0024.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{20, 15}, {46, 32}}</string>
			<key>spriteOffset</key>
			<string>{-4, -0}</string>
			<key>spriteSize</key>
			<string>{46, 32}</string>
			<key>spriteSourceSize</key>
			<string>{94, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{914, 86}, {46, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>soldier_lvl4_barbarian_0026.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{18, 14}, {46, 32}}</string>
			<key>spriteOffset</key>
			<string>{-6, 1}</string>
			<key>spriteSize</key>
			<string>{46, 32}</string>
			<key>spriteSourceSize</key>
			<string>{94, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{914, 120}, {46, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>soldier_lvl4_barbarian_0028.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{27, 10}, {48, 38}}</string>
			<key>spriteOffset</key>
			<string>{4, 2}</string>
			<key>spriteSize</key>
			<string>{48, 38}</string>
			<key>spriteSourceSize</key>
			<string>{94, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{848, 472}, {48, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>soldier_lvl4_barbarian_0030.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{27, 10}, {48, 38}}</string>
			<key>spriteOffset</key>
			<string>{4, 2}</string>
			<key>spriteSize</key>
			<string>{48, 38}</string>
			<key>spriteSourceSize</key>
			<string>{94, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 238}, {48, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>soldier_lvl4_barbarian_0031.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{39, 20}, {36, 28}}</string>
			<key>spriteOffset</key>
			<string>{10, -3}</string>
			<key>spriteSize</key>
			<string>{36, 28}</string>
			<key>spriteSourceSize</key>
			<string>{94, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{644, 482}, {36, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>soldier_lvl4_barbarian_0033.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{26, 11}, {34, 36}}</string>
			<key>spriteOffset</key>
			<string>{-4, 2}</string>
			<key>spriteSize</key>
			<string>{34, 36}</string>
			<key>spriteSourceSize</key>
			<string>{94, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{194, 404}, {34, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>soldier_lvl4_barbarian_0035.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{24, 10}, {36, 36}}</string>
			<key>spriteOffset</key>
			<string>{-5, 3}</string>
			<key>spriteSize</key>
			<string>{36, 36}</string>
			<key>spriteSourceSize</key>
			<string>{94, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{52, 278}, {36, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>soldier_lvl4_barbarian_0037.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{26, 9}, {48, 38}}</string>
			<key>spriteOffset</key>
			<string>{3, 3}</string>
			<key>spriteSize</key>
			<string>{48, 38}</string>
			<key>spriteSourceSize</key>
			<string>{94, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{52, 238}, {48, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>soldier_lvl4_barbarian_0039.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{26, 9}, {48, 38}}</string>
			<key>spriteOffset</key>
			<string>{3, 3}</string>
			<key>spriteSize</key>
			<string>{48, 38}</string>
			<key>spriteSourceSize</key>
			<string>{94, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 278}, {48, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>soldier_lvl4_barbarian_0040.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{31, 20}, {44, 26}}</string>
			<key>spriteOffset</key>
			<string>{6, -2}</string>
			<key>spriteSize</key>
			<string>{44, 26}</string>
			<key>spriteSourceSize</key>
			<string>{94, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{228, 484}, {44, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>soldier_lvl4_barbarian_0043.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 18}, {70, 40}}</string>
			<key>spriteOffset</key>
			<string>{-12, -7}</string>
			<key>spriteSize</key>
			<string>{70, 40}</string>
			<key>spriteSourceSize</key>
			<string>{94, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{230, 234}, {70, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>soldier_lvl4_barbarian_0045.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 6}, {70, 40}}</string>
			<key>spriteOffset</key>
			<string>{-5, 5}</string>
			<key>spriteSize</key>
			<string>{70, 40}</string>
			<key>spriteSourceSize</key>
			<string>{94, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{798, 430}, {70, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>soldier_lvl4_barbarian_0047.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{34, 12}, {56, 40}}</string>
			<key>spriteOffset</key>
			<string>{15, -1}</string>
			<key>spriteSize</key>
			<string>{56, 40}</string>
			<key>spriteSourceSize</key>
			<string>{94, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{942, 462}, {56, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>soldier_lvl4_barbarian_0049.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{14, 18}, {72, 44}}</string>
			<key>spriteOffset</key>
			<string>{3, -9}</string>
			<key>spriteSize</key>
			<string>{72, 44}</string>
			<key>spriteSourceSize</key>
			<string>{94, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{458, 232}, {72, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>soldier_lvl4_barbarian_0051.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 18}, {70, 40}}</string>
			<key>spriteOffset</key>
			<string>{-12, -7}</string>
			<key>spriteSize</key>
			<string>{70, 40}</string>
			<key>spriteSourceSize</key>
			<string>{94, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{870, 430}, {70, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>soldier_lvl4_barbarian_0053.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 17}, {58, 30}}</string>
			<key>spriteOffset</key>
			<string>{-17, -1}</string>
			<key>spriteSize</key>
			<string>{58, 30}</string>
			<key>spriteSourceSize</key>
			<string>{94, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{942, 430}, {58, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>soldier_lvl4_barbarian_0055.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{19, 19}, {42, 28}}</string>
			<key>spriteOffset</key>
			<string>{-7, -2}</string>
			<key>spriteSize</key>
			<string>{42, 28}</string>
			<key>spriteSourceSize</key>
			<string>{94, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{898, 472}, {42, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>soldier_lvl4_barbarian_0057.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{20, 17}, {46, 30}}</string>
			<key>spriteOffset</key>
			<string>{-4, -1}</string>
			<key>spriteSize</key>
			<string>{46, 30}</string>
			<key>spriteSourceSize</key>
			<string>{94, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{914, 154}, {46, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>soldier_lvl4_barbarian_0059.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{19, 17}, {46, 30}}</string>
			<key>spriteOffset</key>
			<string>{-5, -1}</string>
			<key>spriteSize</key>
			<string>{46, 30}</string>
			<key>spriteSourceSize</key>
			<string>{94, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{914, 186}, {46, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>soldier_lvl4_barbarian_0061.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{19, 18}, {46, 28}}</string>
			<key>spriteOffset</key>
			<string>{-5, -1}</string>
			<key>spriteSize</key>
			<string>{46, 28}</string>
			<key>spriteSourceSize</key>
			<string>{94, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{440, 482}, {46, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>soldier_lvl4_barbarian_0064.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{39, 18}, {30, 28}}</string>
			<key>spriteOffset</key>
			<string>{7, -1}</string>
			<key>spriteSize</key>
			<string>{30, 28}</string>
			<key>spriteSourceSize</key>
			<string>{94, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{978, 310}, {30, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>soldier_lvl4_barbarian_0066.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{39, 17}, {30, 30}}</string>
			<key>spriteOffset</key>
			<string>{7, -1}</string>
			<key>spriteSize</key>
			<string>{30, 30}</string>
			<key>spriteSourceSize</key>
			<string>{94, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{952, 248}, {30, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>soldier_lvl4_barbarian_0068.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{39, 19}, {30, 28}}</string>
			<key>spriteOffset</key>
			<string>{7, -2}</string>
			<key>spriteSize</key>
			<string>{30, 28}</string>
			<key>spriteSourceSize</key>
			<string>{94, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{962, 86}, {30, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>soldier_lvl4_barbarian_0073.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{20, 18}, {36, 28}}</string>
			<key>spriteOffset</key>
			<string>{-9, -1}</string>
			<key>spriteSize</key>
			<string>{36, 28}</string>
			<key>spriteSourceSize</key>
			<string>{94, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{952, 218}, {36, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>soldier_lvl4_barbarian_0075.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{19, 18}, {38, 28}}</string>
			<key>spriteOffset</key>
			<string>{-9, -1}</string>
			<key>spriteSize</key>
			<string>{38, 28}</string>
			<key>spriteSourceSize</key>
			<string>{94, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{488, 482}, {38, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>soldier_lvl4_barbarian_0077.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{19, 19}, {38, 28}}</string>
			<key>spriteOffset</key>
			<string>{-9, -2}</string>
			<key>spriteSize</key>
			<string>{38, 28}</string>
			<key>spriteSourceSize</key>
			<string>{94, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{528, 482}, {38, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>soldier_lvl4_barbarian_0080.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{39, 18}, {24, 28}}</string>
			<key>spriteOffset</key>
			<string>{4, -1}</string>
			<key>spriteSize</key>
			<string>{24, 28}</string>
			<key>spriteSourceSize</key>
			<string>{94, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{990, 146}, {24, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>soldier_lvl4_barbarian_0082.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{39, 17}, {24, 30}}</string>
			<key>spriteOffset</key>
			<string>{4, -1}</string>
			<key>spriteSize</key>
			<string>{24, 30}</string>
			<key>spriteSourceSize</key>
			<string>{94, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{90, 278}, {24, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>soldier_lvl4_barbarian_0084.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{39, 19}, {26, 28}}</string>
			<key>spriteOffset</key>
			<string>{5, -2}</string>
			<key>spriteSize</key>
			<string>{26, 28}</string>
			<key>spriteSourceSize</key>
			<string>{94, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{962, 146}, {26, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>soldier_lvl4_barbarian_0088.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{28, 18}, {32, 28}}</string>
			<key>spriteOffset</key>
			<string>{-3, -1}</string>
			<key>spriteSize</key>
			<string>{32, 28}</string>
			<key>spriteSourceSize</key>
			<string>{94, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{978, 280}, {32, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>soldier_lvl4_barbarian_0089.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{28, 19}, {28, 28}}</string>
			<key>spriteOffset</key>
			<string>{-5, -2}</string>
			<key>spriteSize</key>
			<string>{28, 28}</string>
			<key>spriteSourceSize</key>
			<string>{94, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{962, 116}, {28, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>soldier_lvl4_barbarian_0090.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{26, 18}, {26, 28}}</string>
			<key>spriteOffset</key>
			<string>{-8, -1}</string>
			<key>spriteSize</key>
			<string>{26, 28}</string>
			<key>spriteSourceSize</key>
			<string>{94, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{962, 176}, {26, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>soldier_lvl4_barbarian_0091.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{24, 20}, {28, 26}}</string>
			<key>spriteOffset</key>
			<string>{-9, -2}</string>
			<key>spriteSize</key>
			<string>{28, 26}</string>
			<key>spriteSourceSize</key>
			<string>{94, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{274, 484}, {28, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>soldier_lvl4_barbarian_0092.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{22, 27}, {28, 22}}</string>
			<key>spriteOffset</key>
			<string>{-11, -7}</string>
			<key>spriteSize</key>
			<string>{28, 22}</string>
			<key>spriteSourceSize</key>
			<string>{94, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 488}, {28, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>soldier_lvl4_barbarian_0093.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{22, 33}, {28, 16}}</string>
			<key>spriteOffset</key>
			<string>{-11, -10}</string>
			<key>spriteSize</key>
			<string>{28, 16}</string>
			<key>spriteSourceSize</key>
			<string>{94, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{280, 298}, {28, 16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>soldier_lvl4_barbarian_0094.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{22, 33}, {26, 16}}</string>
			<key>spriteOffset</key>
			<string>{-12, -10}</string>
			<key>spriteSize</key>
			<string>{26, 16}</string>
			<key>spriteSourceSize</key>
			<string>{94, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{310, 298}, {26, 16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>soldier_lvl4_barbarian_0095.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{21, 31}, {28, 18}}</string>
			<key>spriteOffset</key>
			<string>{-12, -9}</string>
			<key>spriteSize</key>
			<string>{28, 18}</string>
			<key>spriteSourceSize</key>
			<string>{94, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{304, 484}, {28, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 512}</string>
	</dict>
</dict>
</plist>
