<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ico_sell_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {40, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{40, 36}</string>
			<key>spriteSourceSize</key>
			<string>{40, 36}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 465}, {40, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ico_sell_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {40, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{40, 36}</string>
			<key>spriteSourceSize</key>
			<string>{40, 36}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{84, 465}, {40, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ico_sell_off_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {40, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{40, 36}</string>
			<key>spriteSourceSize</key>
			<string>{40, 36}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{42, 465}, {40, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>main_icons_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {56, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{56, 50}</string>
			<key>spriteSourceSize</key>
			<string>{58, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 413}, {56, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>main_icons_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {56, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{56, 50}</string>
			<key>spriteSourceSize</key>
			<string>{58, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{116, 309}, {56, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>main_icons_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {56, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{56, 50}</string>
			<key>spriteSourceSize</key>
			<string>{58, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{210, 127}, {56, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>main_icons_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {56, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{56, 50}</string>
			<key>spriteSourceSize</key>
			<string>{58, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{406, 439}, {56, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>main_icons_0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {56, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{56, 50}</string>
			<key>spriteSourceSize</key>
			<string>{58, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{174, 361}, {56, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>main_icons_0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {56, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{56, 50}</string>
			<key>spriteSourceSize</key>
			<string>{58, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{406, 283}, {56, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>main_icons_0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {56, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{56, 50}</string>
			<key>spriteSourceSize</key>
			<string>{58, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{348, 439}, {56, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>main_icons_0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {56, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{56, 50}</string>
			<key>spriteSourceSize</key>
			<string>{58, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{268, 179}, {56, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>main_icons_0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {56, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{56, 50}</string>
			<key>spriteSourceSize</key>
			<string>{58, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{500, 127}, {56, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>main_icons_0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {56, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{56, 50}</string>
			<key>spriteSourceSize</key>
			<string>{58, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{384, 179}, {56, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>main_icons_0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {56, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{56, 50}</string>
			<key>spriteSourceSize</key>
			<string>{58, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{268, 127}, {56, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>main_icons_0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {56, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{56, 50}</string>
			<key>spriteSourceSize</key>
			<string>{58, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 257}, {56, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>main_icons_0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {56, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{56, 50}</string>
			<key>spriteSourceSize</key>
			<string>{58, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{500, 75}, {56, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>main_icons_0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {56, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{56, 50}</string>
			<key>spriteSourceSize</key>
			<string>{58, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{442, 179}, {56, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>main_icons_0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {56, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{56, 50}</string>
			<key>spriteSourceSize</key>
			<string>{58, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{210, 179}, {56, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>main_icons_0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {56, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{56, 50}</string>
			<key>spriteSourceSize</key>
			<string>{58, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{326, 127}, {56, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>main_icons_0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {56, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{56, 50}</string>
			<key>spriteSourceSize</key>
			<string>{58, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{290, 231}, {56, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>main_icons_0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {56, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{56, 50}</string>
			<key>spriteSourceSize</key>
			<string>{58, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{232, 231}, {56, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>main_icons_0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {56, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{56, 50}</string>
			<key>spriteSourceSize</key>
			<string>{58, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{116, 413}, {56, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>main_icons_0020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {56, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{56, 50}</string>
			<key>spriteSourceSize</key>
			<string>{58, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{232, 439}, {56, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>main_icons_disabled_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {56, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{56, 50}</string>
			<key>spriteSourceSize</key>
			<string>{58, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{232, 387}, {56, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>main_icons_disabled_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {56, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{56, 50}</string>
			<key>spriteSourceSize</key>
			<string>{58, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{58, 309}, {56, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>main_icons_disabled_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {56, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{56, 50}</string>
			<key>spriteSourceSize</key>
			<string>{58, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{58, 413}, {56, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>main_icons_disabled_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {56, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{56, 50}</string>
			<key>spriteSourceSize</key>
			<string>{58, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{232, 283}, {56, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>main_icons_disabled_0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {56, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{56, 50}</string>
			<key>spriteSourceSize</key>
			<string>{58, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{406, 231}, {56, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>main_icons_disabled_0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {56, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{56, 50}</string>
			<key>spriteSourceSize</key>
			<string>{58, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{326, 75}, {56, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>main_icons_disabled_0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {56, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{56, 50}</string>
			<key>spriteSourceSize</key>
			<string>{58, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 309}, {56, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>main_icons_disabled_0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {56, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{56, 50}</string>
			<key>spriteSourceSize</key>
			<string>{58, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{348, 335}, {56, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>main_icons_disabled_0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {56, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{56, 50}</string>
			<key>spriteSourceSize</key>
			<string>{58, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{290, 335}, {56, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>main_icons_disabled_0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {56, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{56, 50}</string>
			<key>spriteSourceSize</key>
			<string>{58, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{406, 335}, {56, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>main_icons_disabled_0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {56, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{56, 50}</string>
			<key>spriteSourceSize</key>
			<string>{58, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{210, 75}, {56, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>main_icons_disabled_0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {56, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{56, 50}</string>
			<key>spriteSourceSize</key>
			<string>{58, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{268, 75}, {56, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>main_icons_disabled_0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {56, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{56, 50}</string>
			<key>spriteSourceSize</key>
			<string>{58, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{348, 387}, {56, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>main_icons_disabled_0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {56, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{56, 50}</string>
			<key>spriteSourceSize</key>
			<string>{58, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{384, 127}, {56, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>main_icons_disabled_0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {56, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{56, 50}</string>
			<key>spriteSourceSize</key>
			<string>{58, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{58, 361}, {56, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>main_icons_disabled_0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {56, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{56, 50}</string>
			<key>spriteSourceSize</key>
			<string>{58, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{174, 413}, {56, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>main_icons_disabled_0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {56, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{56, 50}</string>
			<key>spriteSourceSize</key>
			<string>{58, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{464, 283}, {56, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>main_icons_disabled_0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {56, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{56, 50}</string>
			<key>spriteSourceSize</key>
			<string>{58, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{290, 439}, {56, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>main_icons_off_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {56, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{56, 50}</string>
			<key>spriteSourceSize</key>
			<string>{58, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{500, 179}, {56, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>main_icons_off_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {56, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{56, 50}</string>
			<key>spriteSourceSize</key>
			<string>{58, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{290, 283}, {56, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>main_icons_off_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {56, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{56, 50}</string>
			<key>spriteSourceSize</key>
			<string>{58, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{442, 127}, {56, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>main_icons_off_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {56, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{56, 50}</string>
			<key>spriteSourceSize</key>
			<string>{58, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{348, 231}, {56, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>main_icons_off_0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {56, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{56, 50}</string>
			<key>spriteSourceSize</key>
			<string>{58, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{116, 361}, {56, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>main_icons_off_0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {56, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{56, 50}</string>
			<key>spriteSourceSize</key>
			<string>{58, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{464, 231}, {56, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>main_icons_off_0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {56, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{56, 50}</string>
			<key>spriteSourceSize</key>
			<string>{58, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{174, 309}, {56, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>main_icons_off_0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {56, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{56, 50}</string>
			<key>spriteSourceSize</key>
			<string>{58, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{326, 179}, {56, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>main_icons_off_0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {56, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{56, 50}</string>
			<key>spriteSourceSize</key>
			<string>{58, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{116, 257}, {56, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>main_icons_off_0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {56, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{56, 50}</string>
			<key>spriteSourceSize</key>
			<string>{58, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{442, 75}, {56, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>main_icons_off_0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {56, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{56, 50}</string>
			<key>spriteSourceSize</key>
			<string>{58, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{232, 335}, {56, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>main_icons_off_0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {56, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{56, 50}</string>
			<key>spriteSourceSize</key>
			<string>{58, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{348, 283}, {56, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>main_icons_off_0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {56, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{56, 50}</string>
			<key>spriteSourceSize</key>
			<string>{58, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 361}, {56, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>main_icons_off_0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {56, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{56, 50}</string>
			<key>spriteSourceSize</key>
			<string>{58, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{406, 387}, {56, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>main_icons_off_0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {56, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{56, 50}</string>
			<key>spriteSourceSize</key>
			<string>{58, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{174, 257}, {56, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>main_icons_off_0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {56, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{56, 50}</string>
			<key>spriteSourceSize</key>
			<string>{58, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{384, 75}, {56, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>main_icons_off_0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {56, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{56, 50}</string>
			<key>spriteSourceSize</key>
			<string>{58, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{58, 257}, {56, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>main_icons_off_0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {56, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{56, 50}</string>
			<key>spriteSourceSize</key>
			<string>{58, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{290, 387}, {56, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>menu_bottom_base_assets_02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {1024, 73}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{1024, 73}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {1024, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>price_tag.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {36, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{36, 22}</string>
			<key>spriteSourceSize</key>
			<string>{36, 22}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{126, 465}, {36, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>price_tag_disabled.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {36, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{36, 22}</string>
			<key>spriteSourceSize</key>
			<string>{36, 22}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{126, 489}, {36, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>price_tag_off.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {36, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{36, 22}</string>
			<key>spriteSourceSize</key>
			<string>{36, 22}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{164, 465}, {36, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thumb_stage14.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {208, 180}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{208, 180}</string>
			<key>spriteSourceSize</key>
			<string>{208, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 75}, {208, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>name</key>
		<string>spritesheet_common_16_a_2.zwd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>size</key>
		<string>{1024, 512}</string>
		<key>target</key>
		<dict>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>coordinatesFileName</key>
			<string>common_spritesheet_16_a_2</string>
			<key>name</key>
			<string>default</string>
			<key>premultipliedAlpha</key>
			<false/>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>textureFileName</key>
			<string>common_spritesheet_16_a_2</string>
		</dict>
		<key>version</key>
		<string>1.5.3</string>
	</dict>
</dict>
</plist>
