<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>arcane_teleport_effect_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{27, 15}, {14, 30}}</string>
			<key>spriteOffset</key>
			<string>{5, 1}</string>
			<key>spriteSize</key>
			<string>{14, 30}</string>
			<key>spriteSourceSize</key>
			<string>{58, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{994, 32}, {14, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>arcane_teleport_effect_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 15}, {24, 30}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{24, 30}</string>
			<key>spriteSourceSize</key>
			<string>{58, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{994, 0}, {24, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>arcane_teleport_effect_0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 15}, {28, 30}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{28, 30}</string>
			<key>spriteSourceSize</key>
			<string>{58, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{590, 471}, {28, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>arcane_teleport_effect_0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 15}, {28, 30}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{28, 30}</string>
			<key>spriteSourceSize</key>
			<string>{58, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{620, 471}, {28, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>arcane_teleport_effect_0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{13, 13}, {32, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{32, 34}</string>
			<key>spriteSourceSize</key>
			<string>{58, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{556, 471}, {32, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>arcane_teleport_effect_0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 9}, {40, 42}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{40, 42}</string>
			<key>spriteSourceSize</key>
			<string>{58, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{980, 204}, {40, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>arcane_teleport_effect_0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 5}, {48, 50}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{48, 50}</string>
			<key>spriteSourceSize</key>
			<string>{58, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{554, 168}, {48, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>arcane_teleport_effect_0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 4}, {48, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{48, 52}</string>
			<key>spriteSourceSize</key>
			<string>{58, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{832, 442}, {48, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>arcane_teleport_effect_0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 4}, {48, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{48, 52}</string>
			<key>spriteSourceSize</key>
			<string>{58, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{832, 388}, {48, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>arcane_teleport_effect_0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 4}, {50, 52}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{50, 52}</string>
			<key>spriteSourceSize</key>
			<string>{58, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{780, 444}, {50, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>arcane_teleport_effect_0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {50, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{50, 54}</string>
			<key>spriteSourceSize</key>
			<string>{58, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{780, 388}, {50, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>arcane_teleport_effect_0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 6}, {46, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{46, 48}</string>
			<key>spriteSourceSize</key>
			<string>{58, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{604, 168}, {46, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>arcane_teleport_effect_0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 7}, {42, 46}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{42, 46}</string>
			<key>spriteSourceSize</key>
			<string>{58, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{980, 110}, {42, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>arcane_teleport_effect_0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 8}, {40, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{40, 44}</string>
			<key>spriteSourceSize</key>
			<string>{58, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{980, 158}, {40, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>arcane_teleport_effect_0020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 11}, {36, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{36, 40}</string>
			<key>spriteSourceSize</key>
			<string>{58, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{484, 471}, {36, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>arcane_teleport_effect_0021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{13, 12}, {32, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{32, 36}</string>
			<key>spriteSourceSize</key>
			<string>{58, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{522, 471}, {32, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>balloon_startbattle.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {164, 60}}</string>
			<key>spriteOffset</key>
			<string>{-1, 2}</string>
			<key>spriteSize</key>
			<string>{164, 60}</string>
			<key>spriteSourceSize</key>
			<string>{168, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{484, 409}, {164, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>decal_scorched_earth_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {98, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{98, 54}</string>
			<key>spriteSourceSize</key>
			<string>{98, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{554, 220}, {98, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>decal_scorched_earth_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {98, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{98, 54}</string>
			<key>spriteSourceSize</key>
			<string>{98, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{654, 220}, {98, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>decal_scorched_earth_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {98, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{98, 54}</string>
			<key>spriteSourceSize</key>
			<string>{98, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{554, 56}, {98, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>decal_scorched_earth_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {98, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{98, 54}</string>
			<key>spriteSourceSize</key>
			<string>{98, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{656, 276}, {98, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>decal_scorched_earth_0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {98, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{98, 54}</string>
			<key>spriteSourceSize</key>
			<string>{98, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{668, 100}, {98, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>decal_scorched_earth_0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {98, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{98, 54}</string>
			<key>spriteSourceSize</key>
			<string>{98, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{780, 276}, {98, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>decal_scorched_earth_0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {98, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{98, 54}</string>
			<key>spriteSourceSize</key>
			<string>{98, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{554, 0}, {98, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>decal_scorched_earth_0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {98, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{98, 54}</string>
			<key>spriteSourceSize</key>
			<string>{98, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{880, 168}, {98, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>decal_scorched_earth_0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {98, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{98, 54}</string>
			<key>spriteSourceSize</key>
			<string>{98, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{768, 332}, {98, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>decal_scorched_earth_0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {98, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{98, 54}</string>
			<key>spriteSourceSize</key>
			<string>{98, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{780, 164}, {98, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>decal_scorched_earth_0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {98, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{98, 54}</string>
			<key>spriteSourceSize</key>
			<string>{98, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{780, 220}, {98, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>decal_scorched_earth_0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {98, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{98, 54}</string>
			<key>spriteSourceSize</key>
			<string>{98, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{668, 44}, {98, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>decal_scorched_earth_0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {98, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{98, 54}</string>
			<key>spriteSourceSize</key>
			<string>{98, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{880, 56}, {98, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>decal_scorched_earth_0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {98, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{98, 54}</string>
			<key>spriteSourceSize</key>
			<string>{98, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{668, 332}, {98, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>decal_scorched_earth_0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {98, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{98, 54}</string>
			<key>spriteSourceSize</key>
			<string>{98, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{894, 0}, {98, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>decal_scorched_earth_0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {98, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{98, 54}</string>
			<key>spriteSourceSize</key>
			<string>{98, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{880, 112}, {98, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>decal_scorched_earth_0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {98, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{98, 54}</string>
			<key>spriteSourceSize</key>
			<string>{98, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{880, 224}, {98, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>decal_scorched_earth_0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {98, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{98, 54}</string>
			<key>spriteSourceSize</key>
			<string>{98, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{780, 52}, {98, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>decal_scorched_earth_0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {98, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{98, 54}</string>
			<key>spriteSourceSize</key>
			<string>{98, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{554, 112}, {98, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>decal_scorched_earth_0020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {98, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{98, 54}</string>
			<key>spriteSourceSize</key>
			<string>{98, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{780, 108}, {98, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>defendFlag_0060.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 5}, {70, 42}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{70, 42}</string>
			<key>spriteSourceSize</key>
			<string>{76, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{954, 368}, {70, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>defendFlag_0069.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 5}, {70, 42}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{70, 42}</string>
			<key>spriteSourceSize</key>
			<string>{76, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{930, 412}, {70, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>effect_sellSmoke_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{12, 48}, {70, 42}}</string>
			<key>spriteOffset</key>
			<string>{1, -23}</string>
			<key>spriteSize</key>
			<string>{70, 42}</string>
			<key>spriteSourceSize</key>
			<string>{92, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{882, 368}, {70, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>effect_sellSmoke_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 24}, {74, 68}}</string>
			<key>spriteOffset</key>
			<string>{1, -12}</string>
			<key>spriteSize</key>
			<string>{74, 68}</string>
			<key>spriteSourceSize</key>
			<string>{92, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{364, 351}, {74, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>effect_sellSmoke_0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 20}, {78, 70}}</string>
			<key>spriteOffset</key>
			<string>{2, -9}</string>
			<key>spriteSize</key>
			<string>{78, 70}</string>
			<key>spriteSourceSize</key>
			<string>{92, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{280, 429}, {78, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>effect_sellSmoke_0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 16}, {80, 72}}</string>
			<key>spriteOffset</key>
			<string>{2, -6}</string>
			<key>spriteSize</key>
			<string>{80, 72}</string>
			<key>spriteSourceSize</key>
			<string>{92, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{324, 277}, {80, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>effect_sellSmoke_0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 12}, {82, 74}}</string>
			<key>spriteOffset</key>
			<string>{2, -3}</string>
			<key>spriteSize</key>
			<string>{82, 74}</string>
			<key>spriteSourceSize</key>
			<string>{92, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{196, 353}, {82, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>effect_sellSmoke_0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 9}, {82, 74}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{82, 74}</string>
			<key>spriteSourceSize</key>
			<string>{92, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{280, 353}, {82, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>effect_sellSmoke_0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 8}, {82, 74}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{82, 74}</string>
			<key>spriteSourceSize</key>
			<string>{92, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{196, 429}, {82, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>portraits_sc_0064.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {46, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{46, 44}</string>
			<key>spriteSourceSize</key>
			<string>{46, 46}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{882, 412}, {46, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>portraits_sc_0069.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {46, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{46, 44}</string>
			<key>spriteSourceSize</key>
			<string>{46, 46}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{882, 458}, {46, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>rally_circle.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {275, 275}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{275, 275}</string>
			<key>spriteSourceSize</key>
			<string>{275, 275}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {275, 275}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>range_circle.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {275, 275}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{275, 275}</string>
			<key>spriteSourceSize</key>
			<string>{275, 275}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{277, 0}, {275, 275}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>selected_big.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {60, 20}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{60, 20}</string>
			<key>spriteSourceSize</key>
			<string>{60, 22}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{930, 456}, {60, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>selected_med.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {42, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{42, 14}</string>
			<key>spriteSourceSize</key>
			<string>{42, 16}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{440, 409}, {42, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>selected_small.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {26, 12}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{26, 12}</string>
			<key>spriteSourceSize</key>
			<string>{26, 12}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{360, 499}, {26, 12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>selected_soldier_small.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {26, 12}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{26, 12}</string>
			<key>spriteSourceSize</key>
			<string>{26, 12}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{388, 499}, {26, 12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>tooltip_bg_small.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {194, 96}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{194, 96}</string>
			<key>spriteSourceSize</key>
			<string>{194, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 407}, {194, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>tooltip_bg_standard.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {194, 128}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{194, 128}</string>
			<key>spriteSourceSize</key>
			<string>{194, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 277}, {194, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>victoryStars_0033.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{21, 14}, {92, 58}}</string>
			<key>spriteOffset</key>
			<string>{3, -6}</string>
			<key>spriteSize</key>
			<string>{92, 58}</string>
			<key>spriteSourceSize</key>
			<string>{128, 74}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{654, 156}, {92, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>victoryStars_0034.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{19, 8}, {96, 64}}</string>
			<key>spriteOffset</key>
			<string>{3, -3}</string>
			<key>spriteSize</key>
			<string>{96, 64}</string>
			<key>spriteSourceSize</key>
			<string>{128, 74}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{440, 343}, {96, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>victoryStars_0035.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 29}, {98, 42}}</string>
			<key>spriteOffset</key>
			<string>{1, -13}</string>
			<key>spriteSize</key>
			<string>{98, 42}</string>
			<key>spriteSourceSize</key>
			<string>{128, 74}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{880, 280}, {98, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>victoryStars_0039.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{16, 29}, {98, 42}}</string>
			<key>spriteOffset</key>
			<string>{1, -13}</string>
			<key>spriteSize</key>
			<string>{98, 42}</string>
			<key>spriteSourceSize</key>
			<string>{128, 74}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{880, 324}, {98, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>victoryStars_0041.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{12, 27}, {106, 42}}</string>
			<key>spriteOffset</key>
			<string>{1, -11}</string>
			<key>spriteSize</key>
			<string>{106, 42}</string>
			<key>spriteSourceSize</key>
			<string>{128, 74}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{668, 0}, {106, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>victoryStars_0043.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 21}, {112, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -9}</string>
			<key>spriteSize</key>
			<string>{112, 50}</string>
			<key>spriteSourceSize</key>
			<string>{128, 74}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{780, 0}, {112, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>victoryStars_0045.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 12}, {118, 62}}</string>
			<key>spriteOffset</key>
			<string>{1, -6}</string>
			<key>spriteSize</key>
			<string>{118, 62}</string>
			<key>spriteSourceSize</key>
			<string>{128, 74}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{536, 277}, {118, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>victoryStars_0047.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 5}, {122, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{122, 68}</string>
			<key>spriteSourceSize</key>
			<string>{128, 74}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{360, 429}, {122, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>victoryStars_0049.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {126, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{126, 74}</string>
			<key>spriteSourceSize</key>
			<string>{128, 74}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{196, 277}, {126, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>victoryStars_0051.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 14}, {128, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, -6}</string>
			<key>spriteSize</key>
			<string>{128, 58}</string>
			<key>spriteSourceSize</key>
			<string>{128, 74}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{650, 401}, {128, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>victoryStars_0052.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 14}, {128, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, -6}</string>
			<key>spriteSize</key>
			<string>{128, 58}</string>
			<key>spriteSourceSize</key>
			<string>{128, 74}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{538, 341}, {128, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>victoryStars_0053.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 8}, {128, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{128, 64}</string>
			<key>spriteSourceSize</key>
			<string>{128, 74}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{406, 277}, {128, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>victoryStars_0054.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 22}, {128, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -10}</string>
			<key>spriteSize</key>
			<string>{128, 50}</string>
			<key>spriteSourceSize</key>
			<string>{128, 74}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{650, 461}, {128, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>waveflag_redcircle.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {44, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{44, 44}</string>
			<key>spriteSourceSize</key>
			<string>{44, 44}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{980, 64}, {44, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>name</key>
		<string>gui_menu_sprite_3.zwd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>size</key>
		<string>{1024, 512}</string>
		<key>target</key>
		<dict>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>coordinatesFileName</key>
			<string>gui_menu_sprite_3</string>
			<key>name</key>
			<string>default</string>
			<key>premultipliedAlpha</key>
			<false/>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>textureFileName</key>
			<string>gui_menu_sprite_3</string>
		</dict>
		<key>version</key>
		<string>1.5.3</string>
	</dict>
</dict>
</plist>
