<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yeti_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,48},{68,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{68,56}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{66,58}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{66,58}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,168},{66,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,11},{66,58}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,186},{64,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,10},{64,60}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,350},{62,62}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,8},{62,62}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,470},{60,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,10},{60,60}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,580},{58,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,10},{58,60}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,532},{56,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,10},{56,58}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,588},{56,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,12},{56,56}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,610},{56,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,10},{56,58}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,596},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,11},{58,58}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,10},{60,60}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,346},{62,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,8},{62,62}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,170},{64,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,10},{64,60}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,168},{64,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,10},{64,60}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,166},{66,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{66,58}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,44},{68,58}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,10},{68,58}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,290},{64,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{64,58}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,126},{66,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,11},{66,58}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,106},{66,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,10},{66,60}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,104},{66,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{66,60}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,286},{64,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,10},{64,58}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{64,58}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,10},{64,58}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,288},{64,58}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,10},{64,58}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,110},{66,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{66,58}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,64},{66,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,10},{66,60}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,48},{66,60}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{66,60}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,286},{64,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{64,58}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,248},{64,58}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,10},{64,58}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,522},{62,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,12},{62,56}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,232},{64,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,10},{64,58}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,46},{66,60}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{66,60}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{68,60}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{68,60}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,108},{66,58}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{66,58}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,230},{64,58}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,10},{64,58}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,346},{64,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{64,56}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,226},{64,58}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,10},{64,58}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,104},{66,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,11},{66,58}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,42},{66,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{66,60}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0070.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{66,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,11},{66,58}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0072.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{64,58}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,10},{64,58}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0073.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,486},{62,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,12},{62,56}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0074.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,528},{60,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,11},{60,58}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0075.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{62,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,11},{62,58}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0076.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,544},{58,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,9},{58,60}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0077.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,470},{56,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,7},{56,66}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0079.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,606},{54,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,5},{54,70}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0081.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,532},{58,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,4},{58,70}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0083.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,524},{60,70}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,4},{60,70}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0085.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{68,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{68,48}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0087.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{70,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,20},{70,40}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0089.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{70,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{70,44}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0091.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,19},{72,42}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0098.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,604},{56,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,13},{56,52}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,474},{62,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,12},{62,56}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,464},{62,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,10},{62,58}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,410},{62,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,10},{62,58}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,426},{62,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,10},{62,58}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,414},{62,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,10},{62,58}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0110.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,410},{62,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,10},{62,58}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,404},{62,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,10},{62,58}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0112.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{62,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,10},{62,58}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0113.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,404},{62,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,10},{62,58}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0122.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,350},{62,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,10},{62,58}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0124.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,366},{62,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,10},{62,58}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0125.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,470},{62,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,12},{62,56}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0126.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,464},{62,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,11},{62,56}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0128.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,228},{64,58}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,10},{64,58}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0129.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,164},{64,60}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{64,60}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0131.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,226},{64,58}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,10},{64,58}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0132.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,348},{64,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{64,54}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0134.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,308},{64,56}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{64,56}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0136.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,292},{64,56}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{64,56}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0147.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{64,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{64,48}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0149.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{68,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,19},{68,42}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0151.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{68,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,21},{68,38}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0153.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{68,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,18},{68,44}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>yeti_0155.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{70,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,20},{70,40}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yeti.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:480cb25da6e9462ebb6d4b1b271fbd06$</string>
            <key>textureFileName</key>
            <string>yeti.png</string>
        </dict>
    </dict>
</plist>
